<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="static/css/mystyle.css">
	<title>IoT-Enabled Weather Station</title>
</head>
<body>
<div id="logo"><img id="logo_img" src="static/img/logo.png" alt="weatherlogo"></div>
<div class="container" >
    <input type="text" class="search" placeholder="Search for station..." list="stations" oninput="updateSearch(this)">
		<datalist id="stations">
			{% for station in stations %}
				<option value={{station}} class="options"></option>
			{% endfor %}
		</datalist>
	</input>
</div>
 <div>
 {% for station in stations %}
 	{% set link =  "/view?station=" + station.replace(' ', '_')%}
  <div class="station" id={{station}}>
		<h1 class="text-h-center text-v-center stationNameText"><a href={{link}}>{{station}}</a></h1>
	</div>
 {% endfor %}

  <div class="station" id="placeholder 2">
    <h1 class="text-h-center text-v-center stationNameText">placeholder 2</h1>
  </div>
  <div class="station" id="placeholder 3">
    <h1 class="text-h-center text-v-center stationNameText">placeholder 3</h1>
  </div>
  <div class="station" id="placeholder 4">
    <h1 class="text-h-center text-v-center stationNameText">placeholder 4</h1>
  </div>
  <div class="station" id="placeholder 5">
    <h1 class="text-h-center text-v-center stationNameText">placeholder 5</h1>
  </div>
  <div class="station" id="placeholder 6">
    <h1 class="text-h-center text-v-center stationNameText">placeholder 6</h1>
  </div>
  <div class="station" id="placeholder 7">
    <h1 class="text-h-center text-v-center stationNameText">placeholder 7</h1>
  </div>
  <div class="station" id="placeholder 1">
    <h1 class="text-h-center text-v-center stationNameText">placeholder 1</h1>
  </div>
  <div style="clear:both;"></div>
 </div>
 <script src="static/js/search.js"></script>
</body>
</html>
