<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="mystyle.css">
	<title>QUT Weather Station</title>
</head>
<body>
<div id="logo"><img id="logo_img" src="weatherapi.png" alt="weatherlogo"></div>
  <div id="overalPage" >
    <div id="titleSection">
      <div class="Title"><h1>{{name}}</h1></div>
      <div id="insertApi"><img id="apiImg" src="https://cdn.weatherapi.com/weather/64x64/day/116.png"></img></div>
    </div>
	<div style="clear:both;"></div>
	<div id="weatherData">
      <table class="dataTable" cellpadding="10" border='0'>
		<tr>
		  <td align='center' valign="middle">Temperature</td>
		  <td align='center' valign="middle">{{data["Temperature"] + "°C"}}</td>
	    </tr>
	    <tr>
	      <td align='center' valign="middle">Humidity</td>
	      <td align='center' valign="middle">{{data["Humidity"] + "%"}}</td>
		</tr>
		<tr>
		  <td align='center' valign="middle">Heat Index</td>
		  <td align='center' valign="middle">{{data["Heat Index"]}}</td>
		</tr>
		<tr>
		  <td align='center' valign="middle">Dew Point</td>
		  <td align='center' valign="middle">{{data["Dew Point"] + "°C"}}</td>
		</tr>
		<tr>
		  <td align='center' valign="middle">Barometric Pressure</td>
		  <td align='center' valign="middle">{{data["Pressure"] + " kPA"}}</td>
		</tr>
		<tr>
		  <td align='center' valign="middle">Wind Direction</td>
		  <td align='center' valign="middle">{{data["Heading"] + "°"}}</td>
	    </tr>
		<tr>
		  <td align='center' valign="middle">Wind Speed</td>
		  <td align='center' valign="middle">{{data["Windspeed"] + " kts"}}</td>
		</tr>
		<tr>
		  <td colspan="2" align='center' valign="middle"><a href={{"/history.html?station="+name}}>History</a></td>

		</tr>
	  </table>
	</div>
  </div>
</body>
</html>
